body {
	background-color: #00B4FF;
	font-family: Noto Sans;
	font-size: 28px;
	overflow:hidden;
}


#magicbox {
	display:none;
}

.topic, .options>div, .replies .reply, .submit {
	
	border-radius: 16px;
	box-shadow: 4px 6px 7px rgba(0,0,0,0.04);
	
}

#submit {
	
	cursor: default;
	opacity : 0;
	transition: opacity 0.5s;
}

.topic { 
	position:relative;
	font-size: 30px;

	max-width: 550px;
	padding: 24px 48px 25px 48px;
	background-color: #e6f8ff;
	color: #111119;
	margin:auto;
	text-align:center;
	word-wrap:break-word;
}

.topic  .compose {
	background: none;
	/*font-size: 22px;*/
	border: none;
	width: 100%;
	overflow: hidden;
	border-bottom: 1px dotted rgba(0,0,0,0.3);
	min-height:42px;
	min-width: 96px;
	word-wrap:break-word;
	outline: none;
}

.topic.nothing {
	background: none;
	box-shadow: none;
	cursor: pointer;
	padding-left: 4px;
	padding-right:4px;
}

.topic .good {
	position: absolute;
	left: 12px;
	top: 4px;
	width: 32px;
	height: 32px; 
	font-size:6px;
}
.topic .bad, .topic .new {
	position: absolute;
	right: 12px;
	top: 4px;
	width: 32px;
	height: 32px; 
	font-size:6px;
}

.topic .score {
	position: absolute;
	left: 12px;
	top: 4px; 
	font-size: 23px;
	font-weight: bold;
}

.topic .new {
	
	background-image: url('new.png');
	background-position: 0px 0px;
	cursor: pointer;
}

.topic .new:hover {
	background-position: -32px 0px;
}

.topic .new:active {
	background-position: -64px 0px;
}

.clickable {
	cursor:pointer;
}

.topic .good:hover {
	
}

.submit {
	
	background-color: #e6f8ff;
	margin: auto;
	margin-top: 8px;
	width: 128px;
	text-align:center;
	padding: 4px;
	font-size: 80%;
	cursor: pointer;
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: background-color 0.25s;
}

.submit:hover {
	background-color: #fff;	
	transition: background-color 0.25s;
}
.submit:active {
	background-color: #eee;	
	transition: background-color 0s;
	box-shadow: 4px 6px 7px rgba(0,0,0,0.04), inset 0px 0px 4px rgba(0,0,0,0.5);
}

.options {	
	text-align: center;
	margin-top: 12px;
	font-size: 18px;
}

.options > div {
	font-family: Coming Soon;
	width: 100px;
	text-align:center;
	display: inline-block;
	width: 100px; 
	padding: 6px;
}

.options .good {
	background-color: #baf0b8;
}
.options .bad {
	display: inline-block;
	background-color: #d31a1a;
}

.options .change {
	display: inline-block;
	background-color: #f0f1b9;
}

.options .change:hover {
	background-color: #f1f1f1;
	cursor: pointer;
}

.replies {
	width: 100%;
	max-width: 644px;
	margin: auto;
}

.replies .reply {
	vertical-align:top;
	position: relative;
	margin: auto;
	margin-top: 12px;
	max-width: 574px;
	display: inline-block;
	/*width: 574px;*/
	padding: 12px 36px 14px 36px;
	font-size: 22px;
	background-color: #e6f8ff;
	word-wrap:break-word;
	opacity: 0;
	transition: opacity 0.5s;
}


/*
.replies .reply.hidden {
	display:none;
}*/

.replies  .reply  .replyinput {
	background: none;
	font-size: 22px;
	border: none;
	width: 100%;
	overflow: hidden;
	resize: none;
	height:auto;
	border-bottom: 1px dotted rgba(0,0,0,0.3);
	min-height:32px;
	min-width: 96px;
	word-wrap:break-word;
    
}

.replies  .reply  .replyinput.init {
	color: #999;
}

.replies  .reply  .replyinput.fade {
	cursor:default;
	
}

.replies .reply .score {
	font-size: 12px;
	position: absolute;
	top: 18px;
	left: 8px;
	font-weight: bold;
}
.replies .rvote {
	width: 16px;
	height: 16px;
	position: absolute;
	cursor: pointer;
	
}

.replies .rvote.rgood {
	top: 10px;
	left: 10px;
}

.replies .rvote.rbad {
	left: 10px;
	top: 30px;
}

.replies .rvote img {
	width: 16px;
	height: 16px;
	vertical-align:top;
}


.padding {
	width: 100%;
}

#content {
	opacity : 0;
	transition: opacity 0.5s;
}

.rank_cancer {
	color:red;
}

.rank_poop {
	color:#8d3e17;
}

.rank_ok {
	color: #308c8d;
}

.rank_good {
	color: #1bb826;
}

.rank_great {
	color: #243bc8;
}
.rank_god {
	color: #e58100;
}

.topic_text_adjust, .comment_text_adjust {
	position: relative;
	top: -1;
}

.navigation {
	height: 16px;
	border-radius: 0px 0px 16px 0px;
	font-size: 12px;
	background-color: #e6f8ff;
	display: inline-block;
	padding: 4px 12px 7px 5px;
	position: fixed;
	left: 0px;
	top: 0px;
}

.navigation div {
	padding: 1px;
	display: inline-block;
}